<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Prédictions des Accidents de la Route en Temps Réel | AccidentPrediction.fr</title>
    <meta name="description" content="Découvrez les prédictions des accidents de la route en France, une heure avant 
        qu'ils n'arrivent. Restez informé et conduisez prudemment.">
    <meta name="keywords" content="Accidents de la Route, Prédictions, Temps Réel, Sécurité Routière">
    <link rel="canonical" href="https://accidentprediction.fr/">
    <meta property="og:title" content="Prédictions des Accidents de la Route en Temps Réel">
    <meta property="og:description" content="Découvrez les prédictions des accidents de la route en France, une heure 
        avant qu'ils n'arrivent.">
    <meta property="og:url" content="https://accidentprediction.fr/">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <div id="map"></div>
    
    <div><%- body %></div>
  </body>
</html>